<%-include('../partials/header')%>
<div class="container col-lg-6">
    <div  style="border-radius: 10px;box-shadow:2px 2px 15px 0 rgba(46,61,73,.4)" class="jumbotron" style="margin-top: 50px;">
<div class="h3 text-center">Login in</div>
<form method="POST" action="/login">
   <div class="form-group">
       Username:
       <input class="form-control" type="text" name="username" placeholder="Username">
   </div>
   <div class="form-group">
    Password:
    <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <div class="d-flex justify-content-around">
    <button class="btn btn-primary">Login in</button>
    <a href="/signin" >Sign up</a>
</div>
</form>
</div>
</div>
<%-include('../partials/footer')%>